body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    page-break-inside: always;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.job, .education {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button i {
    margin-right: 5px;
}

/* Skills section styles */
section#skills {
    margin-top: 30px; /* Adjust as needed */
}

section#skills h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section#skills p {
    margin-bottom: 10px;
}

#btnDiv {
    padding: 20px;
}